DB_URL=
DB_USERNAME=
DB_PASSWORD=


JWT_SECRET=
JWT_EXPIRY=


SPRING_DATA_REDIS_HOST=
SPRING_DATA_REDIS_PORT=
SPRING_DATA_REDIS_SSL_ENABLED=
SPRING_DATA_REDIS_PASSWORD=


SUPPORT_EMAIL=
APP_PASSWORD=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=